html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
}

body {
  height: 100%;
  margin: 0;
}

div {
  font-family: "PT Mono", monospace;
}

/* Header */ 
header {
  text-align: center;
  font-family: "Trebuchet MS", sans-serif;
}

/* Calculator */
.main {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-bottom: 40px;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60vw;
  height: 90vw;
  min-width: 400px;
  min-height: 600px;
  max-width: 360px;
  max-height: 560px;
  padding: 40px;
  background-color:rgba(255, 244, 230, 0.7);
  border: 5px solid black;
  border-radius: 20px;
}

#display {
  font-family: "PT Mono", monospace;
  text-align: end;
  display:flex;
  justify-content: end;
  align-items: end;
  height: 25%;
  width: 100%;
  margin-bottom: 40px;
  background-color:rgb(255, 252, 249);
  font-size: 55px;
  border: 2px solid black;
  border-radius: 20px;
}

.calc-input {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  gap: 30px;
}

.math {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 25%;
}

.numbers {
  margin-right: 0px;
  height: 100%;
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

/* buttons */
button {
  font-family: "PT Mono", monospace;
  font-size: 30px;
  height: 15%;
  border-radius: 10px;
  outline: 0;
  transition: all 0.1s ease;
}

button:hover:enabled {
  transform: scale(1.05);
}

.numbers button {
  width: 30%;
}

button.num {
  background-color:rgba(245, 183, 107, 0.5);
}

button.num:hover {
  background-color: rgb(243, 176, 94);
}

.math button {
  width: 100%;
}

#clearAll {
  background-color:rgba(235, 122, 105, 0.5);
}

#clearAll:hover,
#clearAll:hover {
  background-color: rgba(228, 80, 57, 0.5);
}

button.operation, 
button.setting {
  background-color: rgba(249, 225, 87, 0.3);
}

button.operation:hover:enabled,
button.setting:hover:enabled {
  background-color: rgb(249, 211, 87);
}

button.operation.pressed {
  background-color: rgb(249, 211, 87);
  transform: scale(1.05);
}

/* Footer */
footer {
  font-family: "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10px;
  width: 100vw;
} 

footer>a {
  color: black;
  text-decoration: none;
}